{% include base.html %}
<head>
</head>
<div class="footer">
  <form action="https://getsimpleform.com/messages?form_api_token=d9fbe3b05597de14b1e5cc7db2ceea84" method="post">
    <div class="subscribe_container">
      <input type='hidden' name='redirect_to' value='http://www.sealiconvalley.com/thankyou.html' />
        <input type="text" name="email" class="subscribe_email" id="input_email" placeholder="Email Address"/>
      <input class="subscribe_button" type='submit' value='Subscribe' />
    </div>
    </form>

    <div class="footer_email">
        SEALICONVALLEY@GMAIL.COM
    </div>

    <div class="footer_copyright">
        &copy; 2017 Sealicon Valley Inc. All Rights Reserved.
    </div>

</div>

<div class="bottom_tabs">
    <a href="{{base}}">
        <div class="bottom_tab_wrapper">

            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'blog.html' or page.url contains 'characters.html' or page.url contains 'about.html' %}
                <div class="menu_header_text">Comic</div>
                {% else %}
                <div class="menu_header_text_current">Comic</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/blog.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'blog.html' %}
                <div class="menu_header_text_current">Blog</div>
                {% else %}
                <div class="menu_header_text">Blog</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/characters.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'characters.html' %}
                <div class="menu_header_text_current">Characters</div>
                {% else %}
                <div class="menu_header_text">Characters</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/about.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'about.html' %}
                <div class="menu_header_text_current">About</div>
                {% else %}
                <div class="menu_header_text">About</div>
                {% endif %}
        </div>
    </a>
</div>
