{% include base.html %}
<head>
  <script>
    function subscribe() {
      var email = document.getElementById('input_email').value;
      console.log(email);
    }
  </script>
</head>
<div class="footer">
    <div class="subscribe_container">
        <input type="text" class="subscribe_email" id="input_email" placeholder="Email Address"/>
        <div class="subscribe_button" onclick="subscribe()">
            <span style="vertical-align:middle;display:table-cell;">
              Subscribe
            </span>
        </div>
    </div>

    <div class="footer_email">
        SEALICONVALLEY@GMAIL.COM
    </div>

    <div class="footer_copyright">
        &copy; 2017 Sealicon Valley Inc. All Rights Reserved.
    </div>

</div>

<div class="bottom_tabs">
    <a href="{{base}}">
        <div class="bottom_tab_wrapper">

            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'blog.html' or page.url contains 'characters.html' or page.url contains 'about.html' %}
                <div class="menu_header_text">Comic</div>
                {% else %}
                <div class="menu_header_text_current">Comic</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/blog.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'blog.html' %}
                <div class="menu_header_text_current">Blog</div>
                {% else %}
                <div class="menu_header_text">Blog</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/characters.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'characters.html' %}
                <div class="menu_header_text_current">Characters</div>
                {% else %}
                <div class="menu_header_text">Characters</div>
                {% endif %}
        </div>
    </a>
    <a href="{{base}}/about.html">
        <div class="bottom_tab_wrapper">
            <div class="bottom_tab_img">
            </div>
                {% if page.url contains 'about.html' %}
                <div class="menu_header_text_current">About</div>
                {% else %}
                <div class="menu_header_text">About</div>
                {% endif %}
        </div>
    </a>
</div>
