{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}

</head>

<body>

    <div class="header_box">
        {% include header_bar.html %}
        <a href="{{base}}/index.html">
        <div class="logo">
        </div>
      </a>
        <div id="social_container">
            <a href="https://www.instagram.com/sealiconvalley/">
                <div class="social_img">
                </div>
            </a>
            <a href="https://www.facebook.com/sealiconvalley/">
                <div class="social_img">
                </div>
            </a>
            <div class="social_img">
            </div>
            <div class="social_img">
            </div>
            <div class="social_img">
            </div>
        </div>
        <div class="layer1">
        </div>
        <div class="layer2">
        </div>
        <div class="layer3">
        </div>
        <div class="layer4">
        </div>
        <div class="layer5">
        </div>
        <div class="drone">
        </div>

    </div>


    <div class="header_box_small">
        {% include header_bar.html %}
    </div>

</body>

</html>
