{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>

<body>
    <div class="header_bar_container">
        <div class="header_bar">
            <div class="logo_header_bar">
                <div class="header_logo">
                </div>
            </div>
            <div id="social_container_small">
                <a href="https://www.instagram.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <a href="https://www.facebook.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
            </div>
            <div class="menu_header_bar">
                <a href="{{base}}/index.html">
                    <div class="menu_header_text_wrapper">
                        <div class="menu_header_text">Comic</div>
                    </div>
                </a>
                <a href="{{base}}/blog.html">
                    <div class="menu_header_text_wrapper">
                        <div class="menu_header_text">Blog</div>
                    </div>
                </a>
                <a href="{{base}}/characters.html">
                    <div class="menu_header_text_wrapper">
                        <div class="menu_header_text">Characters</div>
                    </div>
                </a>
                <a href="{{base}}/about.html">
                    <div class="menu_header_text_wrapper">
                        <div class="menu_header_text">About</div>
                    </div>
                </a>
                <span class="burger"></span>
            </div>
        </div>
    </div>
</body>

</html>
