<head>
  {% include head.html %}
</head>
<body>
<div id="banner_container">
  <div id="title_container">
    <h1 class="title_h1">Sealicon</h1>
    <h1 class="title_h1">Valley</h1>
  </div>
  <div style="width: 100%; text-align:center;" >
  <div id="social_container">
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/4057345bcf57474b96976284050c00df.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/4057345bcf57474b96976284050c00df.png">
    </span>
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/870f97661ed14a5bb2d96ecbddec0aed.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/870f97661ed14a5bb2d96ecbddec0aed.png">
    </span>
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/38f46577d89b43ae95cb65fac6d660f3.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/38f46577d89b43ae95cb65fac6d660f3.png">
    </span>
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/45bce1d726f64f1999c49feae57f6298.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/45bce1d726f64f1999c49feae57f6298.png">
    </span>
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/9e47c827082f40bdb54d0cd16c3b28f6.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/9e47c827082f40bdb54d0cd16c3b28f6.png">
    </span>
    <span>
      <img class="social_img" src="https://static.wixstatic.com/media/e1aa082f7c0747168d9cf43e77046142.png/v1/fill/w_78,h_78,al_c,usm_0.66_1.00_0.01/e1aa082f7c0747168d9cf43e77046142.png">
    </span>
  </div>
</div>

<div style="width: 100%; text-align:center;" >
  <div id="menu_container">
    <a href="#"><span class="menu_text">Comics</span></a>
    <a href="#"><span class="menu_text">Characters</span></a>
    <a href="#"><span class="menu_text">Blog</span></a>

  </div>
</div>
</div>
</body>
