<head>
  {% include head.html %}
</head>
<body>
<div id="banner_container">
  <div id="title_container">
    <h1 class="title_h1">Sealicon</h1>
    <h1 class="title_h1">Valley</h1>
  </div>
  <div style="width: 100%; text-align:center;" >
  <div id="social_container">
    <span>
      <a href="https://www.instagram.com/sealiconvalley/">
      <img class="social_img" src="{{base}}/assets/ig.png">
    </a>
    </span>
    <span>
      <a href="https://www.facebook.com/sealiconvalley/">
      <img class="social_img" src="{{base}}/assets/fb.png">
    </a>
    </span>
    <span>
      <img class="social_img" src="{{base}}/assets/youtube.png">
    </span>
    <span>
      <img class="social_img" src="{{base}}/assets/twitter.png">
    </span>
    <span>
      <img class="social_img" src="{{base}}/assets/gplus.png">
    </span>
    <span>
      <img class="social_img" src="{{base}}/assets/pinterest.png">
    </span>
  </div>
</div>

<div style="width: 100%; text-align:center;" >
  <div id="menu_container">
    <a href="/"><span class="menu_text">Comics</span></a>
    <a href="characters.html"><span class="menu_text">Characters</span></a>
    <a href="blog.html"><span class="menu_text">Blog</span></a>
  </div>
</div>
</div>
</body>
