{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>

<body>

    <div class="header_bar_container">
        <div class="header_bar">
          {% if page.url contains 'blog.html' or page.url contains 'characters.html' or page.url contains 'about.html' %}
            <div class="logo_header_bar">
                <a href="{{base}}">
                    <div class="header_logo">
                    </div>
                </a>
            </div>
            <div class="social_container_small">
                <a href="https://www.instagram.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <a href="https://www.facebook.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
            </div>
            {% else %}
            <div class="logo_header_bar home_logo_header_bar">
                <a href="{{base}}">
                    <div class="header_logo">
                    </div>
                </a>
            </div>
            <div class="social_container_small home_social_container_small">
                <a href="https://www.instagram.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <a href="https://www.facebook.com/sealiconvalley/">
                    <div class="social_img_small">
                    </div>
                </a>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
                <div class="social_img_small">
                </div>
            </div>
            {% endif %}
            <div class="menu_header_bar">
                <a href="{{base}}">
                    <div class="menu_header_text_wrapper">
                        {% if page.url contains 'blog.html' or page.url contains 'characters.html' or page.url contains 'about.html' %}
                        <div class="menu_header_text">Comic</div>
                        {% else %}
                        <div class="menu_header_text_current">Comic</div>
                        {% endif %}
                    </div>
                </a>
                <a href="{{base}}/blog.html">
                    <div class="menu_header_text_wrapper">
                        {% if page.url contains 'blog.html' %}
                        <div class="menu_header_text_current">Blog</div>
                        {% else %}
                        <div class="menu_header_text">Blog</div>
                        {% endif %}
                    </div>
                </a>
                <a href="{{base}}/characters.html">
                    <div class="menu_header_text_wrapper">
                        {% if page.url contains 'characters.html' %}
                        <div class="menu_header_text_current">Characters</div>
                        {% else %}
                        <div class="menu_header_text">Characters</div>
                        {% endif %}
                    </div>
                </a>
                <a href="{{base}}/about.html">
                    <div class="menu_header_text_wrapper">
                        {% if page.url contains 'about.html' %}
                        <div class="menu_header_text_current">About</div>
                        {% else %}
                        <div class="menu_header_text">About</div>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
