<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link href='{{base}}/assets/reset_css.css' rel='stylesheet'>
  <link href='{{base}}/assets/main.css' rel='stylesheet'>
  <link href='{{base}}/assets/800.css' rel='stylesheet'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <script src="{{base}}/assets/jquery.color.js"></script>
  <script src="{{base}}/assets/jquery.min.js"></script>
  <script src="{{base}}/assets/scrolltest.js"></script>
  <script src="{{base}}/assets/analytics.js"></script>
</head>
