{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
{% include head.html %}
</head>
<body>

  {% include header.html %}

    <div class="home_content" >

        <div class="masonry" id="blog_masonry">
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.tags contains 'blog' %}
                <li>
                  <a href="{{base}}{{ post.url }}">
                    <div class="item" id="blog_item">
                      <div class="blog_preview">
                        {{ post.preview | remove: '
                        <p>' | remove: '</p>' | replace: 'BASE', base }}
                      </div>
                      <div class="blog_preview_info">
                        <div class="blog_preview_title">
                          {{ post.title | escape }}
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                {%  endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="mobile_sub_container">
        <form action="https://getsimpleform.com/messages?form_api_token=d9fbe3b05597de14b1e5cc7db2ceea84" method="post" id="mobile_subscribe_form">
          <div class="subscribe_container mobile_subscribe">
            <input type='hidden' name='redirect_to' value='http://www.sealiconvalley.com/thankyou.html' />
              <input type="text" name="email" class="subscribe_email" id="input_email" placeholder="Email Address"/>
            <input class="subscribe_button" type='submit' value='Subscribe' />
          </div>
          </form>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
