{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>

  <script src="{{base}}/assets/jquery.min.js"></script>
  <script src="{{base}}/assets/carousel.js"></script>
  {% include head.html %}
</head>


<body>
    {% include header.html %}
<div class="home_content" id="characters">
      <div class="ccontainer">
        <div class="carousel" id="ccarousel">
          <div class="citem a"></div>
          <div class="citem b"></div>
          <div class="citem c"></div>
          <div class="citem d"></div>
          <div class="citem e"></div>
        </div>
      </div>
      <div class="next">Next</div>
      <div class="prev">Prev</div>
</div>
    {% include footer.html %}
</body>
</html>
