{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}

    <div class="home_content">

        <div class="masonry">
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.tags contains 'comics' %}
                <li>
                    <div class="item">
                        <a class="post-link" href="{{base}}{{ post.url }}">
                            <div class="excerpt_container">
                                {{ post.preview | remove: '
                                <p>' | remove: '</p>' | replace: 'BASE', base }}

                            </div>
                        </a>
                    </div>
                </li>
                {%  endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include footer.html %}
</body>


</html>
