{% include base.html %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  {% include head.html %}
</head>
<body>
   {% include header.html %}

   <div id="home_content">

           <div class="masonry">
     <ul class="post-list">
     {% for post in site.posts %}
      <li>
      <div class="item">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{base}}{{ post.url }}">{{ post.title | escape }}</a>
        </h2>
          <div class="excerpt_container">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' | replace: 'BASE', base }}

        </div>
      </div>
      </li>
     {% endfor %}
     </ul>
  </div>
   </div>

    {{ content }}
</body>


</html>
